@{
    ViewData["Title"] = ".Net Core Docker Demo";
}
<div>
    <h1>Dotnet core and Docker</h1>
    <p>
        This is a demo site all about dotnet core and docker. This is hosted on a linode server running docker. The image is stored in my own container registry running on Azure. This site is for me to learn and experiment with dot net core and docker. I hope it can help you too. Don't forget to check out my blog <a href="https://serversncode.com" target="_blank">Serversncode</a> and the source code for all my OSS stuff is on my <a href="https://github.com/mordin" target="_blank">Github</a> Including the source for <a href="https://github.com/mordin/Serversncode-Docker-demo" target="_blank">this site</a>
    </p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>My Blog Posts</h2>
        <ul>
            <li>
                <a href="https://serversncode.com/net-core-and-docker/" target="_blank">.Net core and docker.</a>
            </li>
            <li>
                <a href="https://serversncode.com/setting-up-docker-on-linode/" target="_blank">Setup docker on Linode</a>
            </li>
            <li>
                <a href="https://serversncode.com/docker-commands/" target="_blank">Docker commands</a>
            </li>
            <li>
                <a href="https://serversncode.com/create-azure-container-registry/" target="_blank">Create an Azure Container Registry</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Dotnet core 2.1</h2>
        <div>
            <h3>Docker file</h3>
            <img src="~/images/dotnet2.1dockerfile.png" alt="Docker file dotnet core 2.1"/>
            <a href="https://raw.githubusercontent.com/mordin/Serversncode-Docker-demo/master/dockerfile" target="_blank">See on Github</a>
        </div>
    </div>
</div>


